@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #101010;
  color: #eee;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding: 10px;
}

.navigation .nav-brand{
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1px;
}

.nav {
  flex: 1;
}

.navlinks {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navlinks li {
  padding: 10px 10px;
  margin: 0 5px;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
}

.navlinks li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, .2);
}

.navlinks li:active {
  background: rgba(155, 155, 155, .2);
}

.navlinks li a {
  color: #eee;
  text-decoration: none;
}

.nav-active {
  border-bottom: 3px solid rgba(255, 255, 255, .8);
}


/* about */

.about {
  padding: 5px;
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

.about .about-header h2{
  font-weight: 500;
  font-size: 3em;
  margin-top: 20px;
  font-family: "Merriweather";
}

.about .about-body {
  letter-spacing: 1px;
  padding: 30px;
  font-size: 1.1em;
  font-weight: lighter;
}

/* contact */

.contact {
  padding: 5px;
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

.contact .contact-body {
  letter-spacing: 1px;
  padding: 30px;
  font-size: 1.1em;
  font-weight: lighter;
}